<div class="container">
  <h1>Hello <%= current_user.name %></h1>
  <h2>Welcome back.</h2>

  <!-- Create teas -->

  <p>Tell us about that new tea you've tried:</p>
  <form class="login-forms" id="create-form">
    <input type="text" name="tea-name" placeholder="Tea Name" class="input-fields" id="newtea-name">
    <input type="text" name="notes" placeholder="Your Thoughts" class="input-fields" id="create-newtea-thoughts">
    <button type="submit" name="associate" id="add-associate-button">Add & Associate</button>
  </form>
  <button name="add-more" id="add-more-button">Add More</button>

  <!-- Associate (read teas, update / create join table records) -->

  <p>Try these teas that others have enjoyed (and leave comments):</p>
    <form class="login-forms" id="associate-form">
    <select id="tea-selection">
      <% @teas.each do |tea| %>
      <option id="option"><%= tea.name %></option>
      <% end %>
    </select>
    <input type="text" name="tea-opinion" placeholder="Your Thoughts" class="input-fields" id="associate-newtea-thoughts">
    <button type="submit" name="buttons" id="associate-button">Associate</button>
  </form>

  <!-- Read user/tea associations -->

  <p>Teas you've tried:</p>

  <table id="tea-associations">
    <tr>
      <td>Tea Name</td>
      <td>Thoughts</td>
      <td></td>
    </tr>
    <% current_user.preferences.each do |pref| %>
    <tr>
      <td class="tea-name-<%= pref.tea.id %>"><div class="table-cell-link"><a href="/tea/<%= pref.tea.id %>"><%= pref.tea.name %></a><div></td>
      <td class="tea-thoughts-<%= pref.tea.id %>"><%= pref.opinion %></td>
      <td>
        <button class="edit-button" id="edit-button-<%= pref.id %>" value="<%= pref.id %>">Edit</button>
        <button class="dissociate-button" id="dissociate-button-<%= pref.id %>" value="<%= pref.id %>">Dissociate</button>
      </td>
    </tr>
    <% end %>
  </table>

</div>
